<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fzu.studentSys.mapper.StudentMapper">

    <select id="findStudent" parameterType="edu.fzu.studentSys.pojo.Student" resultType="edu.fzu.studentSys.pojo.Student" >
        select * from dm_student where 1=1
                                   <choose>
                                        <when test="name !=null and name !=''">
                                            and name like concat('%',#{name},'%')
                                        </when>
                                        <when test="major !=null and major !=''">
                                            and major = #{major}
                                        </when>
                                        <otherwise>and sno != ''</otherwise>
                                    </choose>
    </select>

    <select id="findByList" parameterType="java.util.List" resultType="edu.fzu.studentSys.pojo.Student">
        select * from dm_student where id in
            <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <insert id="insertStudent" parameterType="edu.fzu.studentSys.pojo.Student">
        insert into dm_student (id,name,major,sno) values (#{id},#{name},#{major},#{sno})
    </insert>
</mapper>
